@font-face {
   font-family: league-script;
   src: url(./fonts/league-script/LeagueScript.ttf);
}
@font-face {
   font-family: la-belle;
   src: url(./fonts/la_belle_aurore/La_belle_aurore.ttf);
}

:root {
   --verde-header: #ECF6D9;
   --verde-background: #C8E98E;
   --verde-botao: #B4F246;
   --verde-titulo: #259073;
}

body{
   margin: 0;
   width: 100%;
   height: 100%;
   background: var(--verde-background);
}

h1 {
   font-family: league-script;
   margin: 0;
   padding-top: 25px;
   padding-left: 30px;
   color: var(--verde-titulo);
}

header{
   height: 13vh;
   background-color: var(--verde-header);
}
#conteudo{
   height: 87vh;
}