#conteudo{
    background: url(../images/background.svg);
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.loginbox, .cadastrobox, .perfilbox {
    background: var(--branco);
    align-self: center;
    background: var(--cinza-fundo);
    margin-top: 20px;
}

.loginbox{
    width: 433px;
    min-height: 473px;
    margin-bottom: 20px;
}

.cadastrobox, .perfilbox{
    width: 60vw;
    min-height: 589px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

hr{
    height:1px;
    left:437px;
    top:251px;
    border-width:0;
    width:40vw;
    background-color:rgb(0, 0, 0, 0.6)
}

.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: kranky;
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 63px;
   
    color: var(--preto);
 
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.perfilbox h2 img{
    width:35px;
    height: 35px;
}

.Sem_cadastro {
    font-family: laila;
    margin: 20px 0px;
}
 
#conteudo form {
    padding: 0 0px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    margin: 20px 0px;
    border-radius: 10px;
}

.txt_field input{
    font-family: laila;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 31px;  
    border: 1px solid var(--preto);
    border-radius: 10px;
    color: var(--preto);
}

.loginbox .txt_field input{
    width: 343px;
    height: 34px;
}

.cadastrobox .txt_field input, .perfilbox .txt_field input{
    width: 55vw;
    height: 31px;
}

form .txt_field2 {
    position: relative;
    margin: 20px 0px;
    border-radius: 10px;
}

.txt_field2 input{
    font-family: laila;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 31px;  
    border: 1px solid var(--preto);
    border-radius: 10px;
    color: var(--preto);
    
    width: 27vw;
    height: 31px;
}

form .Sem_cadastro{
    width: 259px;
    height: 23px;
    left: 509px;
    top: 443px;
 
    font-family: laila;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 23px;
    text-decoration-line: underline;
    color: var(--link);
}

.cadastrar, .salvar{
    text-align: center;
    cursor: pointer;
    color: var(--preto);
    border: 0 none;
    background: var(--verde-botao);
    margin: 0px;
    padding:0;
    width: 100%;
    border-radius: 15px;
}

#entrar{
    text-align: center;
    cursor: pointer;
    color: var(--preto);
    border: 0 none;
    background: var(--verde-botao);
    margin: 0px;
    padding:10px 25px;
    border-radius: 15px;
    font-family: laila;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
}

.cadastrar, .salvar {
    font-family: laila;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4em;
    text-decoration: none;
}

.entrar a, a:visited{
    font-family: laila;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 34px;
    text-decoration: none;
    color: var(--preto);
}

form .Botao_entrar, form .Botao_cadastrar, form .Botao_salvar{
    background: var(--verde-botao);
    border-radius: 15px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

form .Botao_entrar{
    width: 143px;
    height: 43px;
}

form .Botao_cadastrar, form .Botao_salvar{
    width: 147px;
    height: 40px;
}

.titulo{
    display: grid;
    grid-template-columns: 36% 76%;
    grid-template-areas: "voltar titulo";
    justify-items: start;
    align-items: center;
}

#titulo-editar-perfil{
    grid-template-columns: 16% 64%;
}

.titulo #voltar:hover{
    cursor: pointer;
    width: 45px; height: 45px;
    margin-left: 4vw;
}

#painel .titulo div{
    grid-area: titulo;
    display: flex;
}

#voltar{
    grid-area: voltar;
    width: 30px; 
    height: 30px;
    margin-left: 5vw;
    margin-top: 20px;
}

#preencha-tudo{
    color: red;
    display: none;
    animation: none;
}

@keyframes preencha{
    0%{
        font-weight: 600;
    }
    50%{
        font-weight: 700;
    }
    100%{
        font-weight: 600;
    }
}