@font-face {
   font-family: league-script;
   src: url(../fonts/league-script/LeagueScript.ttf);
}
@font-face {
   font-family: la-belle;
   src: url(../fonts/la_belle_aurore/La_belle_aurore.ttf);
}
@font-face {
    font-family: league-script;
    src: url(../fonts/league-script/LeagueScript.ttf);
 }

 @font-face {
    font-family: kranky;
    src: url(../fonts/kranky/Kranky.ttf);
 }

 @font-face {
    font-family: laila;
    src: url(../fonts/laila/Laila-Regular.ttf);
 }

 @font-face {
   font-family: Laila-Light;
   src: url(../fonts/laila/Laila-Light.ttf);
}


 :root {
    --verde-header: #ECF6D9;
    --verde-background: #C8E98E;
    --verde-botao: #B4F246;
    --verde-titulo: #259073;
    --cinza-fundo: #F5F5F5;
    --branco: #FFFFFF;
    --preto: #000000;
    --link: #0C60C2;
    --link-ranking: #6DA609;
    --h3-principal: #259073;
    --verde-carta: #15795c;
 }

body{
   margin: 0;
   width: 100%;
   height: 100%;
   background: var(--verde-background);
}

h1 {
   font-family: league-script;
   margin: 0;
   padding-left: 30px;
   color: var(--verde-titulo);
}
/*-----------NAV----------------*/
header{
   height: 7vh;
   background-color: var(--verde-header);
   width: 100%;
   height: fit-content;
   display: grid;
   grid-template-columns: auto auto 100px;
   align-items: center;
}
header .ranking-a{
   justify-self: end;
   text-decoration: none;
   color: inherit;
   width: fit-content;
   height: fit-content;
   border-right: 1px solid rgb(75, 75, 75);
}
header .ranking-a p{
   padding-right: 10px; margin: 0px;
   font-family: Laila-Light;
}
#nav{
   justify-self: end;
   display: flex;
   width: fit-content;
   align-items: center;
   justify-items: end;
   cursor: pointer;
   margin-right: 10px;
   flex-wrap: wrap;
}
#user{
   display: flex;
}
#nav img{
   max-width: 100%;
   width: 25px;
}
#nav p, #nav a{
   font-family: Laila-Light;
   margin: 0px; 
   padding: 0px;
   text-decoration: none;
   color: inherit;
}

#textos a{
   padding: 5px 20px;
}

#nav p:hover, #nav a:hover, .ranking-a:hover{
   color: #03751c;
   font-weight: bolder;
}
#logout{
   position: absolute;
   top: 5vh;
   right: 8px;
   visibility: hidden;
   animation: .2s ease-in forwards;
}

#logout div{
   display: grid;
   grid-template-rows: auto auto auto;
   justify-items: center;
}
 #logout div #textos{
   background-color: #ffffff;
   padding: 0px 4px 0px 4px;
   border-radius: 8px 0px 8px 8px;
 }
/*------------------------------*/
#conteudo{
   min-height: 93vh;
}

