#conteudo{
    background: url(../images/background.svg);
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.loginbox {
    background: var(--branco);
    width: 433px;
    height: 473px;
    align-self: center;
    background: var(--cinza-fundo);
    margin-top: 20px;
}
 
.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.loginbox h2 {
   
    font-family: kranky;
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 63px;
   
    color: var(--preto);
 
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
 
}
 
.Sem_cadastro {
    font-family: laila;
    margin: 20px 0px;
}
 
.loginbox form {
    padding: 0 0px;
    box-sizing: border-box;
}
 
form .txt_field {
    position: relative;
    margin: 20px 0px;
    border-radius: 10px;
}

.txt_field input{
    font-family: laila;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 31px;  
    border: 1px solid var(--preto);
    border-radius: 10px;
    color: var(--preto);
 
    width: 343px;
    height: 34px;
}


 
form .Sem_cadastro{
    width: 259px;
    height: 23px;
    left: 509px;
    top: 443px;
 
    font-family: laila;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 23px;
    text-decoration-line: underline;
    color: var(--link);
}
 
.entrar{
 
width: 69px;
height: 34px;

text-align: center;
cursor: pointer;
color: var(--preto);
border: 0 none;
background: var(--verde-botao);
 
margin: 0px;
 
padding:0;
padding-top: 5px;
}

.entrar a, a:visited{
    font-family: laila;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 34px;
    text-decoration: none;
    color: var(--preto);
}

form .Botao_entrar{
    width: 143px;
    height: 43px;
 
    background: var(--verde-botao);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
}