
#iniciar-jogo hr {
    width: 90%;
}

#forms{
    width: 90%;
    height: 65vh;
    align-self: center;
}

.modalidade{
    margin-top: 30px;
}

#iniciar-jogo h3{
    font-family: laila;
    font-style: normal;
    font-size: 1.1em;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
}

#forms form{
    margin-top: 10px;
}

form label{
    margin-right: 30px;
}

.botao-jogar{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-top: 20vh;
}

.botao-jogar .jogar{
    width: 147px;
    height: 38px;
    background: var(--verde-botao);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    border: 0 none;
    font-family: laila;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botao-jogar .jogar a{
    width: 147px;
    text-decoration: none;
    color: var(--preto);
}

#preencha-tudo{
    color: red;
    display: none;
    animation: none;
}

@keyframes preencha{
    0%{
        font-weight: 600;
    }
    50%{
        font-weight: 700;
    }
    100%{
        font-weight: 600;
    }
}

@media (max-width:1000px) {
    #conteudo{
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
     }

     #historico{
        width: 90vw;
        height: 50vh;
    }

    #iniciar-jogo, #jogando{
        width: 90vw;
        min-height: 80vh;
        margin-left: 15px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .hist-box{
        width: 80vw;
    }
}