#conteudo{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 70vh;
    width: 95vw;
 }

#cabecalho{
    position: absolute;
    right: 15px;
    top: 5px;
}

#cabecalho li{
    display: inline;
}

#cabecalho li .ranking{
    margin-right: 25px;
    font-family: laila;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    text-decoration-line: underline;
    color: var(--link-ranking);
}

#cabecalho img{
    width: 38px;
    height: 38px;
    padding-left: 25px;
    border-left: 2px solid var(--link-ranking);
}

#historico{
    width: 22vw;
    height: 86vh;
    background: var(--cinza-fundo);
    margin: 20px 10px 0px 15px;
    align-items: center;
    overflow-y: scroll;
}

#iniciar-jogo, #jogando{
    width: 74vw;
    min-height: 86vh;
    background: var(--cinza-fundo);
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

h2{
    font-family: kranky;
    margin: 10px 0px 0px 0px;
    font-weight: 400;
    font-size: 2.7em;
    text-align: center;
}

.hist-box{
    width: 18vw;
    min-height: 180px;
    background: var(--branco);
    margin: 10px 0px 10px 17px;
    border: 1px solid rgba(0, 0, 0, 0.44);
    border-radius: 15px;
    padding-top: 13px;
}

.linha-hist, .linha-hist-dupla{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.linha-hist p{
    font-family: laila;
    font-style: normal;
    font-size: 0.8em;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
}

.p-atributo{
    font-weight: 600;
    margin-left: 10px;
}

.p-info{
    font-weight: 400;
    margin-left: 5px;
}

#iniciar-jogo hr {
    width: 90%;
}

#forms{
    width: 90%;
    height: 65vh;
    align-self: center;
}

.modalidade{
    margin-top: 30px;
}

#iniciar-jogo h3{
    font-family: laila;
    font-style: normal;
    font-size: 1.1em;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
}

#forms form{
    margin-top: 10px;
}

form label{
    margin-right: 30px;
}

.botao-jogar{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-top: 20vh;
}

.botao-jogar .jogar{
    width: 147px;
    height: 38px;
    background: var(--verde-botao);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    border: 0 none;
    font-family: laila;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botao-jogar .jogar a{
    width: 147px;
    text-decoration: none;
    color: var(--preto);
}

@media (max-width:1000px) {
    #conteudo{
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
     }

     #historico{
        width: 90vw;
        height: 50vh;
    }

    #iniciar-jogo, #jogando{
        width: 90vw;
        min-height: 80vh;
        margin-left: 15px;
        margin-bottom: 50px;
    }

    .hist-box{
        width: 80vw;
    }
}